@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Rubik:wght@300&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background-color: #2D3741;
  color: #fff;
  & a {
    color: white;
    text-decoration: none;
  }
  & a:hover {
    color:  #FBE4E0 !important;
    text-decoration: underline !important;
  }
  .buttons {
    margin: 10%;
    text-align: center;
  }
  
  .btn-hover {
    padding: 10px 20px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #eee;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
    outline: none;
  }
  
  .btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  }
}
h1, h2 ,h2 {
  font-size: 24px;
  // background: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  color: white;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
nav {
  height: 40px;
  border-bottom: 1px solid rgb(84, 173, 183, .5);
  background: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 1px 1px 7px #2b5876;
}
.nav__bar-k {
  border-width: 4px !important;
  border-style: solid !important;
  border-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376) 1 !important;
  background-image: none !important;
  padding: 10px !important;
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  left: 0;
  top: -4px;
  & img {
    width: 20px;
  }
  .hide {
    opacity: 0;
  }
}
.nav__bar-k.hide {
  display: none;
}
.nav-ul.show {
  padding: 17px;
  background: transparent;
}
.nav-ul.hide {
  padding: 20px;
}
a.btn-hover.color-8.keychainify-checked {
  text-decoration: none;
}
header {
  background-color: white;
  & ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  & li {
    list-style-type: none;
    margin: 10px;
  }
}
header.show {
  font-size: 20px;
  transition: 1s;
  height: fit-content;
  background-color: transparent;
}
header.hide {
  top: 0%;
  position: absolute;
  width: 100%;
}
.intro.hide {
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transition: 2s;
}
.intro.show {
  border-radius: 10px;
  transition: 2s;
  height: 350px;
}
.nav__footer {
  margin: 0 auto;
  font-size: 18px;
  background: transparent;
  padding: 50px;
  & a {
    margin: 10px;
  }
}
.nav__footer.hide {
  visibility: hidden;
  height: 0;
}
.profile__container {
  display: flex;
  width: 60%;
  margin: 70px auto;
  gap: 5%;
  & .profile-info__container {
    width: 50%;
    font-size: 18px;
    line-height: 1rem;
    & h1, p {
      margin: 5px;
    }
  }
  .profile-img__container {
    box-sizing:border-box;
    border: 4px dashed #2D3741;
    height:22vw;
    width:23vw;
    margin-right:1vw;
    border-radius:50%;
    background-image: url(./Components/assets/profile.jpeg);
    background-size: cover;
    align-self: center;
  }
}

.about__container {
  border-radius: 10px;
  border: 1px dashed rgb(84, 173, 183, .5);
  padding: 50px;
  opacity: .8;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  & .about-skills__container {
    display: flex;
    justify-content: center;
  }
  & li {
    list-style: none;
    margin: 10px;
  }
  & span {
    text-decoration: underline;
  }
}
.resume__container {
  border-radius: 10px;
  border: 1px dashed rgb(84, 173, 183, .5);
  padding: 50px;
  opacity: .8;
  width: 80%;
  margin: 0px auto 50px auto;
  font-size: 20px;
  & p, span {
    margin: 0px;
  }
  & .profesional-exp__container {
    display: flex;
  }
  & .resume-skills__container {
    display: flex;
    justify-content: center;
  }
  & li {
    list-style: disc;
    margin: 10px;
  }
  & span {
    text-decoration: underline;
  }
}

.footer {
  background: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);;
  opacity: .5;
  width: 100%;
  position: fixed;
  bottom: 0px;
  color: white;
  display: flex;
  & p {
    margin: 10px;
  }
  & a {
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  header.show {
    position: absolute;
    width: 100%;
  }
  .about__container {
    width: 80% !important;
    padding: 0px;
}
  .profile__container {
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
  }
  .about__container{
    padding: 10px 20px 20px 20px;
    margin: 80px 0px 50px 30px;
    width: 80% !important;
  }
  .about__container .about-skills__container {
    display: block;
  }
  .resume__container {
    padding: 10px 20px 20px 20px;
    margin: 80px 0px 50px 30px;
    width: 80% !important;
  }
  .resume__container .profesional-exp__container {
    display: block;
  }body .btn-hover {
    padding: 10px 10px;
  }
}
.loader__container p {
  font-size: 48px;
}
.loader__container {
  display: flex;
  position: absolute;
  cursor: pointer;
  gap: 10%;
  bottom: 50%;
  left: 50%;
  z-index: 9999;
}
.loader__container::after {
  content: '(pssst, drag anything!)';
  position: absolute;
  bottom: 20%;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}